@font-face {
    font-family: 'poppins';
    font-weight: 400;
    src: url(./fonts/poppins-regular-webfont.woff2);
}
@font-face {
    font-family: 'poppins';
    font-weight: 200;
    src: url(./fonts/poppins-light-webfont.woff2);
}
@font-face {
    font-family: 'poppins';
    font-weight: 600;
    src: url(./fonts/poppins-bold-webfont.woff2);
}


:root{
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);

    --neutral-dark-blue: hsl(234, 12%, 34%);
    --neutral-grayish-blue: rgb(163, 165, 174);
    --neutral-light-gray: hsl(0, 0%, 98%);
}

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: var(--neutral-light-gray);
    color: var(--neutral-dark-blue);
    font-family: 'poppins';
    font-weight: 400;
    font-size: 15px;
}
h1{
    font-size: 1.5rem;
    color: var(--neutral-dark-blue);
}
p:not(.header__text){
    color: var(--neutral-grayish-blue);
    font-size: .825rem;
}
.container{
    width: 85%;
    min-height: 100vh;
    max-inline-size: 1100px;
    margin: 6rem auto;
}
header{
    text-align: center;
    line-height: 1.5;
    color: var(--neutral-grayish-blue);
}
.header__title span{
    font-weight: 200;
    letter-spacing: .5px;
}
.header__text{
    padding-block: 1rem 5rem;
}
.cards{
    display: grid;
    gap: 2rem;
}
.card{
    background: #fff;
    padding: 2rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 30px 50px -40px var(--neutral-grayish-blue);
}
.supervisor{
    border-top: 5px solid var(--primary-cyan);
}
.team-builder{
    border-top: 5px solid var(--primary-red);
}
.karma{
    border-top: 5px solid var(--primary-orange);
}
.calculator{
    border-top: 5px solid var(--primary-blue);
}
.card__icon{
    align-self: flex-end;
    padding-block-start: 2rem;
}
@media screen and (min-width: 900px) {
    .header__text{
        width: 50%;
        margin: 0 auto;
    }
    .cards{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
    }
    .card{
        grid-row: span 2;
    }
    .supervisor{
        grid-row: 2/4;
    }
    .calculator{
        grid-row: 2/4;
        grid-column: 3;
    }
}